# Bỏ qua thư mục .vs của Visual Studio
.vs/
# Bỏ qua file appsettings.json và các biến thể của nó
appsettings.json
appsettings.*.json

#Bỏ qua các folder mà chưa Img 
Net6_Social_Net/wwwroot/Banner_Profile
Net6_Social_Net/wwwroot/Comment_Img
Net6_Social_Net/wwwroot/Post_Image
Net6_Social_Net/wwwroot/Profile_Avatars
Net6_Social_Net/wwwroot/Profile_Banners
Net6_Social_Net/wwwroot/Avatar
obj/
bin/

 
 