/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS cho form email */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.Container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .Container div {
        margin-bottom: 15px;
    }

.Title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.Email label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.Email input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.Sendcode button,
.cancel button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Sendcode button {
    background-color: #007bff;
    color: white;
}

.cancel button {
    background-color: #abacae;
    color: white;
}
