@{
    ViewData["Title"] = "Xác thực"; // Tạo tiêu đề trang
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/VerifyCode_Register.css"/>
    <link href="~/Icon_Plafom/iconWeb.png" rel="icon" />
</head>
<body>
    <div class="container">
        <h2>Xác minh tài khoản</h2>

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-warning">
                @TempData["Error"]
            </div>
        }
        <form method="post" asp-action="VerifyRegister" asp-controller="Login">
            <div class="code">
                <h3>Mã xác nhận</h3>
                <input type="text"
                       name="verifycode"
                       placeholder="Nhập vào mã xác nhận" required />
            </div>
            <div class="button">
                <button type="submit">Xác nhận</button>
            </div>
        </form>
            <div class="resend">
                Bạn chưa nhận được mã?
                <form method="post" asp-action="SendVerificationCode" asp-controller="Login" style="display:inline;">
                <button type="submit" class="resend-button" id="resendcode" >Gửi lại mã</button>
                </form>
            </div>   
            <script>
            const resend=document.getElementById("resendcode");
            const locKey="resendcodeLocktime";

            const lockTime=localStorage.getItem(locKey);
            if(lockTime){
                const now=Date.now();
                const timeleft=Math.floor((lockTime-now)/1000);
                if(timeleft>0){
                    startCountdown(resend,timeleft);
                }
                 else {
                localStorage.removeItem(locKey); 
                }
            }
            const form=resend.closest("form");
            form.onsubmit=function(){
                const newlockTime=Date.now()+30*1000;
                localStorage.setItem(locKey,newlockTime);
            };
            function startCountdown(button,timeleft){
                button.disabled=true;
                button.textContent=`Gửi lại mã (${timeleft}s)`

                const timer=setInterval(()=>{
                    timeleft--;
                    button.textContent=`Gửi lại mã (${timeleft}s)`
                if (timeleft <= 0) {
                clearInterval(timer);
                button.disabled = false;
                button.textContent = "Gửi lại mã";
            }
                },1000);
            }         
            </script>
    </div>
</body>
</html>
