
@{

    ViewData["Title"] = "Admin Page";
    Layout = null; 
    //Layout = "~/Views/Shared/Homeview.cshtml";
}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Document</title>
     <style>
         body {
           margin: 0;
           height: 100vh; /* Đặt chiều cao của body bằng với chiều cao của viewport */
           display: flex;
           justify-content: center; /* Căn giữa theo chiều ngang */
           align-items: center; /* Căn giữa theo chiều dọc */
           background-color: #f0f0f0; /* Tùy chọn: Thêm màu nền */
           font-size: 100px; /* Kích thước chữ */
           font-family: Arial, sans-serif; /* Tùy chọn: Cài đặt font chữ */
         }
         .admin {
           font-weight: bold;
           color: #333; /* Màu chữ */
         }
     </style>
     <script>
         setInterval(function () {
           alert("Sao vào được đây!?");
         }, 5000);
     </script>
 </head>
 <body>
     <div clas="admin">Đây là site Admin</div>
 </body>
 </html>


